{% extends 'base.html.twig' %}

{% block body %}
    <h1>Films list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Guid</th>
                <th>Create_date</th>
                <th>Update_date</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Url</th>
                <th>Nombre_previsualisation</th>
                <th>Nombre_vue</th>
                <th>Date_sortie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr>
                <td><a href="{{ path('film_show', { 'id': film.id }) }}">{{ film.id }}</a></td>
                <td>{{ film.guid }}</td>
                <td>{% if film.createdate %}{{ film.createdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if film.updatedate %}{{ film.updatedate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ film.titre }}</td>
                <td>{{ film.description }}</td>
                <td>{{ film.url }}</td>
                <td>{{ film.nombreprevisualisation }}</td>
                <td>{{ film.nombrevue }}</td>
                <td>{% if film.datesortie %}{{ film.datesortie|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('film_show', { 'id': film.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('film_edit', { 'id': film.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('film_new') }}">Create a new film</a>
        </li>
    </ul>
{% endblock %}
