{% trans_default_domain 'FOSUserBundle' %}

<div class="container form-sm">

<h1 class="h1-app text-center">{{'Changement du mot de passe'|trans}}</h1>

<div class="">
   {{ form_start(form, {'method': 'post', 'action': path('fos_user_change_password')}) }}
   <div class="row full-margin-m">
      <div class="col">
         {{ form_label(form.current_password, 'Mot de passe actuel', {'label_attr': {'class': 'sub-label-app-sm'}}) }}
         {{ form_errors(form.current_password)}}
         {{ form_widget(form.current_password, {'attr': {'class': 'input-app input-app-border', 'required':'true', 'autocomplete':'off'} }) }}
      </div>
   </div>
   <div class="row full-margin-m">
      <div class="col">
         {{ form_label(form.plainPassword.first, 'Nouveau mot de passe : ', {'label_attr': {'class': 'sub-label-app-sm'}}) }}
         {{ form_errors(form.plainPassword.first) }}
         {{ form_widget(form.plainPassword.first, {'attr': {'class': 'input-app input-app-border', 'required':'true', 'autocomplete':'off'} }) }}
      </div>
   </div>
   <div class="row full-margin-m">
      <div class="col">
         {{ form_label(form.plainPassword.second, 'Confirmez nouveau mot de passe : ', {'label_attr': {'class': 'sub-label-app-sm'}}) }}
         {{ form_errors(form.plainPassword.second) }}
         {{ form_widget(form.plainPassword.second, {'attr': {'class': 'input-app input-app-border', 'required':'true'} }) }}
      </div>
   </div>
   <div class="row margin-top-m">
      <div class="col">
         <input class="btn btn-outline-info main-default-btn" type="submit" value="{{ 'Changer Mot de passe'|trans }}" />
      </div>
      <div class="col">
          <a class="float-right text-dark link-no-decoration" href="{{ path('fos_user_profile_show') }}"><i class="fas fa-arrow-left"></i> Retour</a>
      </div>
   </div>
   {{ form_end(form) }}
</div>
</div>